@font-face {
  font-family: "Vazir";
  src: url("/src/assets/fonts/Vazir/webfonts/Vazirmatn-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: #b0b0b0;
  width: 100%;
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Vazir";
}
